

<!--display employee data in table-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
     </div>
     </div>
     <!--<button class="btn btn-primary" (click)='addEmployee()'>Add Employee</button>-->
     <button class="btn btn-primary" routerLink="/add-employee">Add Employee</button>
     <br>
     <br>
<table class="table table-striped">
  <thead>
    <tr>
        

      <th>Employee Id</th>
      <th>Employee FirstName</th>
      <th>Employee LastName</th>
      <th>Employee Salary</th>
      <th>Employee Designation</th>
      <th colspan="2">Action</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.employeeId}}</td>
      <td>{{employee.employeeFirstName}}</td>
      <td>{{employee.employeeLastName}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.designation}}</td>
        <td>
            <!--create update button and call updateEmployee() method on click event -->
            <!--<button class="btn btn-info" (click)='updateEmployee(employee.employeeId, employee)'>Update</button>-->
            <button class="btn btn-info" routerLink="/update-employee">Update</button>

            
            </td>
            <td>
            <!--create a delete button and call deleteEmployee() method on click event-->
            <button class="btn btn-danger" (click)='deleteEmployee(employee.employeeId)'>Delete</button>

        
            
        </td>
    </tr>
  </tbody>
</table>    
</div>



