.container{
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
}
h4{
    text-align: center;
}

.form-group{
    margin-top: 10px;
}
.btn-primary{
    margin-top: 20px;
}

button{
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;

}

#cbtn{
    background-color: red;
}

